/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 15px;
  line-height: 1.5; 
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 400;
  color: #666;
}

a {
  color: #2879d0;
}
a:hover {
  color: #2268b2;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
  width: 100%;
}

header h1 {
  text-align: left;  /* page headings */
  letter-spacing: -1px;
  font-size: 72px;
  color: #fff;
  line-height: 1;
/*  width: 540px; */
/*  width: 840px; */
  width: 75%;  /* don't allow the page title to over-run the github link */
/*  margin-bottom: 0.2em; */
  margin-bottom: 10px;
  margin-left: 10px;
}

header h2 {
  text-align: left;  /* page sub-headings */
  font-style: italic;
  font-size: 26px;
  color: #9ddcff;
  font-weight: normal;
  line-height: 1.3;
/*  width: 540px; */
/*  width: 840px; */
  letter-spacing: 0;
  margin-left: 10px;
}

.inner {
  text-align: justify;  /* justify all text unless otherwise listed as left-align  */
  position: relative;
/*  width: 940px; */
/*  width: 1240px; */
/*  width: 1250px; BORK */
  width: 100%;  /* width of blue grid header background image */
  margin: 0 auto; 
}

#content-wrapper {
  border-top: solid 1px #fff;
  padding-top: 30px;
}

/* the actual content, not the header or buttons */
#main-content {
/*  width: 690px; */
/*  width: 975px; */
  width: 65%;
  float: left; 
  padding-left: 5%;  /* needed to keep text from under-running on the left */
}

#main-content img {
  max-width: 100%; 
}

aside#sidebar {
  width: 30%;
/*  padding-left: 10px; */
/*  min-height: 504px; */
  float: right;
  background: transparent url(../images/sidebar-bg.jpg) 0 0 no-repeat;
  font-size: 12px;
  line-height: 1.3;
}

aside#sidebar p.repo-owner,
aside#sidebar p.repo-owner a {
  text-align: left;  /* text in repo tag  */
  font-weight: bold;
}

#downloads {
  margin-bottom: 40px;
}


/* BUTTON, BLANK */
a.button_blank {
  width: 202px;
  height: 78px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
/*  padding-left: 10px;
  padding-top: 10px; */
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_blank small {
  display: block;
  font-size: 11px;
}
header a.button_blank {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_blank.png) 0 0 no-repeat;
}
aside a.button_blank {
  display: block;
  background: transparent url(../images/button_blank.png) 0 0 no-repeat;
  margin-bottom: 20px; 
  font-size: 21px;
}

/* BUTTON, GITHUB */
a.button_github {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-right: 10px;
  padding-top: 22px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_github small {
  display: block;
  font-size: 11px;
}
header a.button_github {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_github.png) 0 0 no-repeat;
}
aside a.button_github {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/button_github.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}

/* BUTTON, DOWNLOAD */
a.button_download {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_download small {
  display: block;
  font-size: 11px;
}
header a.button_download {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_download.png) 0 0 no-repeat;
}
aside a.button_download {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/button_download.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}

/* BUTTON, HOME */
a.button_home {
  width: 250px;
/*  height: 100px; */
/*  line-height: 1.2; */
  font-size: 21px;
  color: #000;
/*  padding-left: 10px; /* replaced by text-align:center; below */
  text-align: center;
  padding-top: 100px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_home small {
  display: block;
  font-size: 11px;
}
header a.button_home {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_roadrunner.png) 0 0 no-repeat;
}
aside a.button_home {
  display: block; 
  background: transparent url(../images/button_roadrunner.png) 0 0 no-repeat;
  margin-bottom: 20px;
}

/* BUTTON, FAQ */
a.button_faq {
  width: 250px;
/*  height: 100px; */
/*  line-height: 1.2; */
  font-size: 21px;
  color: #000;
/*  padding-left: 10px; /* replaced by text-align:center; below */
  text-align: center;
  padding-top: 100px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_faq small {
  display: block;
  font-size: 11px;
}
header a.button_faq {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_question_mark.png) 0 0 no-repeat;
}
aside a.button_faq {
  display: block; 
  background: transparent url(../images/button_question_mark.png) 0 0 no-repeat;
  margin-bottom: 20px;
}

/* BUTTON, THE BOOK OF RPERL */
a.button_the_book_of_rperl {
  width: 250px;
/*  height: 100px; */
/*  line-height: 1.2; */
  font-size: 21px;
  color: #000;
/*  padding-left: 10px; /* replaced by text-align:center; below */
  text-align: center;
  padding-top: 100px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_the_book_of_rperl small {
  display: block;
  font-size: 11px;
}
header a.button_the_book_of_rperl {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_sword_wand.png) 0 0 no-repeat;
}
aside a.button_the_book_of_rperl {
  display: block; 
  background: transparent url(../images/button_sword_wand.png) 0 0 no-repeat;
  margin-bottom: 20px;
}

/* BUTTON, THE LOW MAGIC PERL COMMANDMENTS */
a.button_the_low_magic_perl_commandments {
  width: 250px;
/*  height: 100px; */
/*  line-height: 1.2; */
  font-size: 21px;
  color: #000;
/*  padding-left: 10px; /* replaced by text-align:center; below */
  text-align: center;
  padding-top: 100px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  margin-left: auto;
  margin-right: auto;
}
a.button_the_low_magic_perl_commandments small {
  display: block;
  font-size: 11px;
}
header a.button_the_low_magic_perl_commandments {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/button_tablets.png) 0 0 no-repeat;
}
aside a.button_the_low_magic_perl_commandments {
  display: block; 
  background: transparent url(../images/button_tablets.png) 0 0 no-repeat;
  margin-bottom: 20px;
}


code, pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 13px;
}

code {
  background-color: #f2f8fc;
  border: solid 1px #dbe7f3;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #fff;
  text-shadow: none;
  overflow: auto;
  border: solid 1px #f2f2f2;
}
pre code {
  color: #2879d0;
  background-color: #fff;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  background: #ddd; 
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 0 0 1.4em;
  border: none; 
}

table {
  width: 100%;
  border: 1px solid #ebebeb;
}

th {
/*  font-weight: 500; */
  font-weight: bold;
  text-align: center; 
}

td {
  border: 1px solid #dddddd;
  text-align: center; 
  font-weight: 300;
  padding: 5px;
}

/* THE LOW-MAGIC PERL COMMANDMENTS, TABLES */

/* Zebra-stripe rows */
tbody tr:nth-child(odd) td.body {
      background: #e9e9e9;  /* VERY LIGHT GREY  */
}

table.commandments {
  border: none;
  border-collapse: separate;   /* REQUIRED FOR ROUNDED CORNERS USING BORDER RADIUS */
  background: none;
}

table.commandments th.header {
  border-top: 10px solid #bbbbbb;
  border-bottom: none;
  border-left: 10px solid #bbbbbb;
  border-right: 10px solid #bbbbbb;
/*  background: #dddddd;  /* LIGHT GREY */
  background: #bbbbbb;  /* MEDIUM GREY */
  -webkit-border-top-left-radius: 35px 20px; /* Safari and Chrome */
  -moz-border-top-left-radius: 35px 20px; /* Firefox */
  -ms-border-top-left-radius: 35px 20px; /* Internet Explorer */
  -o-border-top-left-radius: 35px 20px; /* Opera */
  border-top-left-radius: 35px 20px; /* CSS3 */
  -webkit-border-top-right-radius: 35px 20px; /* Safari and Chrome */
  -moz-border-top-right-radius: 35px 20px; /* Firefox */
  -ms-border-top-right-radius: 35px 20px; /* Internet Explorer */
  -o-border-top-right-radius: 35px 20px; /* Opera */
  border-top-right-radius: 35px 20px; /* CSS3 */
}

table.commandments th.footer {
  border-top: none;
  border-bottom: 10px solid #bbbbbb;
  border-left: 10px solid #bbbbbb;
  border-right: 10px solid #bbbbbb;
  background: #dddddd;  /* LIGHT GREY */
/*  background: #bbbbbb;  /* MEDIUM GREY */
}

table.commandments th.blank {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: none;
}

table.commandments td.body {
  width: 49%;  /* SIZE TABLETS EVENLY WITH ROOM LEFT FOR GAP BETWEEN TABLETS */
  border-top: none;
  border-bottom: none;
  border-left: 10px solid #bbbbbb;
  border-right: 10px solid #bbbbbb;
  background: #dddddd;  /* LIGHT GREY */
/*  background: #bbbbbb;  /* MEDIUM GREY */
  vertical-align: middle; 
}

table.commandments td.blank {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: none;
}

form {
  background: #f2f2f2;
  padding: 20px;
  
}


/* GENERAL ELEMENT TYPE STYLES */

/* used to horizontally center images, such as logos in header */
img.centered_h {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* used to horizontally center stand-alone text, for combined horiz-and-vertical alignment use centered_outer and centered_inner below */
p.centered_h {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* used to horizontall AND vertically align text, such as labels over blank buttons */
.centered_outer { 
  width: 100%; 
  height: 100%; 
  position: relative;
}

.centered_inner { 
  width: 100%; 
  height: 100%; 
  display: table; 
  margin-left: auto;
  margin-right: auto;
  width: 6em;
}

.centered_inner p {
  display: table-cell; 
  vertical-align: middle; 
}

#main-content h1 {
  text-align: left;  /* page sections */
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 2.8em;
  letter-spacing: -1px;
  color: #474747;
} 

#main-content h1:before {
  content: "/";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -0.9em;
}

#main-content h2 {
  text-align: left;  /* page sub-sections */
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #474747;
} 
#main-content h2:before {
  content: "//";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -1.5em;
}

#main-content h3 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #474747;
} 
 
#main-content h3:before {
  content: "///";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2em;
}

#main-content h4 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 15px;
  font-weight: bold;
  color: #474747;
} 

h4:before {
  content: "////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -2.8em;
}

#main-content h5 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: 14px;
  color: #474747;
} 
h5:before {
  content: "/////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.2em;
}

#main-content h6 {
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif; 
  font-size: .8em;
  color: #474747;
} 
h6:before {
  content: "//////";
  color: #9ddcff;
  padding-right: 0.3em;
  margin-left: -3.7em;
}

p {
  margin-bottom: 20px;
}
 
a {
  text-decoration: none;
}

p a {
  font-weight: 400;
}

blockquote {
  font-size: 1.6em;
  border-left: 10px solid #e9e9e9;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ul li {
  list-style: disc inside;
  padding-left: 20px;
}

ol li {
  list-style: decimal inside;
  padding-left: 3px;
}

dl dd {
  font-style: italic;
  font-weight: 100;
}

/* copyleft notice */
footer {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #000;
}

/* copyright notice */
footer small {
  font-size: 10px;
  color: #aaa;
}

footer a {
/*  color: #666; */
  color: #aaa;
}
footer a:hover {
/*  color: #444; */
  color: #888;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Larger than 1250 (devices and browsers) */
@media only screen and (min-width: 1250px) {
  .inner {
    width: 100%;
  }
  #main-content {
    width: 75%;
    padding-left: 5%;
  } 
  aside#sidebar {
    width: 20%;
  }
}

/* THIS IS THE DEFAULT MODE IMPLEMENTED THROUGHOUT THE FILE */
/* Larger than standard 960 (devices and browsers) */
/* @media only screen and (min-width: 960px) and (max-width: 1249px) {} */

/* IMPLEMENTED WITH MORE PRECISION IN THE OPTIONS BELOW */
/* Smaller than standard 960 (devices and browsers) */
/* @media only screen and (max-width: 959px) {} */

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 100%;
  }
  #main-content {
    width: 60%;
    padding-left: 5%;
  } 
  aside#sidebar {
    width: 35%;
  }
}
/*  DISABLE OLD HARD-CODED OPTION
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px; 
  }
  header h1, header h2 {
    width: 340px;
  }
  header h1 {
    font-size: 60px;
  }
  header h2 {
    font-size: 30px;
  }
  #main-content {
    width: 490px;
  }
  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }
}
*/

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .inner {
    width: 100%;
  }
  #main-content {
    width: 100%;
    float: none;
    padding-left: 0%;
  } 

  header {
    padding: 20px 0;
  }
  header .inner {
    position: relative;
  }
  header h1, header h2 {
    width: 90%;
  }
  header h1 {
    font-size: 42px;
  }
  header h2 {
    font-size: 24px;
  }

  aside#sidebar {
    width: 100%;
    float: none;
    background-image: none;
    margin-top: 20px;
    border-top: solid 1px #ddd;
    padding: 20px 0;
    min-height: 0;
  }

  /* BUTTON, BLANK */
  aside#sidebar a.button_blank {
    display: none;
  }

  /* BUTTON, GITHUB */
  aside#sidebar a.button_github {
    display: none;
  }

  /* BUTTON, DOWNLOAD */
  aside#sidebar a.button_download {
    display: none;
  }

  #main-content h1:before,
  #main-content h2:before,
  #main-content h3:before,
  #main-content h4:before,
  #main-content h5:before,
  #main-content h6:before {
    content: none;
    padding-right: 0;
    margin-left: 0;
  }

  /* BUTTON, GITHUB */
  header a.button_github {
    background-image: none;
    width: auto;
    height: auto;
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    position: relative;
    text-align: center;
    font-size: 13px;
    line-height: 1;
    background-color: #9ddcff;
    color: #2879d0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;                     
    border-radius: 5px;    
  }
  header a.button_github small {
    font-size: 13px;
    display: inline;
  }

}

/* IMPLEMENTED IN GENERAL IN THE OPTION ABOVE */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* @media only screen and (min-width: 480px) and (max-width: 767px) {} */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* @media only screen and (max-width: 479px) {} */
